@{
    Layout = null;
}

<style>
    .row2 {
        margin-top: 20px;
        border: dotted 1px red;
        padding: 18px;
    }
</style>
<div class="container-fluid">
    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-3">
            <button class="btn btn-default">申请增加节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info">申请裁剪节目</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">申请节目调整</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger">申请节目作废</button>
        </div>
    </div>
</div>
