@{
    ViewBag.Title = "IndexNoIframeWithLayout";
    Layout = "~/Views/shared/_LayoutPageIndexNoIframe.cshtml";
}
@section breadcrumb{
    <li class="active">IndexNoIframeWithLayout</li>
}
<div>
    欢迎使用！
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="200">键</th>
            <th>值</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>名称</td>
            <td>后台管理模版</td>
        </tr>
        <tr>
            <td>版本</td>
            <td>2017-01-25-v.1040</td>
        </tr>
        <tr>
            <td>名称</td>
            <td>后台管理模版</td>
        </tr>
    </tbody>
</table>


